<div class="jumbotron">
    <h1>FLY FAST (API)</h1>
    <p class="lead">Bienvenue sur l'API FLY FAST </p>
</div>
<div class="row">
    <h2>Règles de Gestion</h2>

    <ul>
        <li>La liste des trajets sont soit en SIMPLE VOYAGE ou VOYAGE EXACLE. </li>
        <li>Les escales ont 15 % de réduction sur le prix final.</li>
        <li>Si NbrPlaceFirstClass = 0 , c'est qu'il n'y a pas de première classe.</li>
        <li>Les prix des places en premire classe est de 100% par rapport au prix de base de la place. Ex :  DTW -JFK , Seconde Classe = 500 €  et la Premiere Classe = 500 * 2 = 1 000;</li>
    </ul>
</div>
